openai
diffusers
transformers
fastapi
uvicorn
python-dotenv
rich
tqdm
git+https://git@github.com/facebookresearch/audiocraft#egg=audiocraft
gradio
uvicorn
k_diffusion
accelerate
git+https://github.com/openai/shap-e
bitsandbytes